:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styling for body section */

body {
    background-color: var(--primary-color);
}

/* styling for header section */

header {
    background-image: url("../images/ggbridge.jpg");
    padding: 20px 30px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-display: bold;
    font-size: 34px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
    text-shadow: 0 0 13px rgba(255, 255, 0, 0.7);
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
}
header nav ul li a:hover {
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* styling for hero section */

.hero {
    background-image: url("../images/ggbridge.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 40px 0 60px 0;
    display: flex;
    text-align: center;
  }
.primary-border {
    border-color: var(--primary-color);
    border-bottom: 4px solid var(--tertiary-color);
    padding: 0 100px 20px 100px;
    display: inline-block;
}


/* styling for About Me section */

.about-me {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.meet-aaron {
    width: 100%;
    display: inline-block;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.meet-aaron img {
    height: 95%;
    margin: auto;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.meet-aaron h2 {
    color: var(--secondary-color);
    font-size: 30px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
}
.meet-aaron p {
    color: var(--tertiary-color);
    font-size: 20px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-align: justify;
    padding: 30px 30px 30px 30px;
    width: 40%;
    display: left;
    margin-left: 15rem;
}
/* Styling for Work section */

.work {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.work-aaron{
    text-align: center;
    padding-top: 30px;
}
.work-aaron h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 20px 0 60px 0;
}
        /* Begin Styling for Grid in Work Section */

.work-section {
    width: 60%;
}

.work-section-1 {
    height: 20%;
    margin-bottom: 3%;
    position: relative;
    background-size: cover;
    background-image: url("../images/weather-dashboard.jpg");
}

.work-section-1:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.work-section-2 {
    height: 20%;
    width: 50%;
    margin-bottom: 3%;
    margin-right: 1%;
    background-size: cover;
    background-image: url("../images/re-markable-high-tech-blog.jpg");
}

.work-section-2:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.work-section-3 {
    height: 20%;
    width: 50%;
    margin-bottom: 3%;
    margin-left: 1%;
    background-size: cover;
    background-image: url("../images/easy_e_commerce.jpg");
}

.work-section-3:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.work-section-4 {
    height: 20%;
    width: 50%;
    margin-bottom: 3%;
    margin-left: 1%;
    background-size: cover;
    background-image: url("../images/workday_scheduler.jpg");
}
.work-section-4:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.work-section-5 {
    height: 20%;
    width: 50%;
    margin-bottom: 3%;
    margin-left: 1%;
    background-size: cover;
    background-image: url("../images/on-track-employee-tracker.jpg");
}
.work-section-5:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.work-section-1-btn {
    width: 45%;
    height: 50%;
    margin-top: 7%;
    margin-left: 5%;
    border-radius: 5px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: black;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}
.work-section-2-btn {
    width: 65%;
    height: 40%;
    margin-top: 12%;
    margin-left: 5%;
    border-radius: 5px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: black;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}
.button-h1 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: black;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}.button-h2 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}
.button-h3 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}.button-h4 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}

/* Styling for Recent Projects section */

.recent-projects {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.recent-projects-aaron{
    text-align: center;
    padding-top: 30px;
}
.recent-projects-aaron h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 20px 0 60px 0;
}

/* Begin Styling for Grid in Recent Projects Section */

.recent-section-1 {
    height: 20%;
    margin-bottom: 3%;
    position: relative;
    background-size: cover;
    background-image: url("../images/cobart.jpg");
}

.recent-section-1:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.recent-section-2 {
    height: 20%;
    margin-bottom: 3%;
    margin-right: 1%;
    position: relative;
    background-size: cover;
    background-image: url("../images/team4music.jpg");
}

.recent-section-2:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}
.recent-section-3 {
    height: 20%;
    margin-bottom: 3%;
    margin-left: 1%;
    position: relative;
    background-size: cover;
    background-image: url("../images/my_team_maker.jpg");
}

.recent-section-3:hover {
    opacity: 0.5;
    transition: all, 1.5s 0.3s;
    text-decoration: none;
}

/* styling for Contact section */

.contact {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.contact-aaron{
    text-align: center;
    padding-top: 30px;
}
.contact-aaron h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 20px 0 60px 0;
}
footer h3 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    margin: 0 30px;
    font-weight: lighter;
    text-decoration: none;
    color: var(--secondary-color);
}
footer nav {
    float: none;
    margin: 0 20 20 20;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer nav ul li {
    display: inline;
}
footer nav ul li a {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    margin: 0 30px;
    font-weight: lighter;
    text-decoration: none;
    color: var(--secondary-color);
}
footer nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

li:nth-child(odd) {
    font-size: 24px;
}
li:nth-child(4) {
    font-size: 24px;
}

li:nth-child(2) {
    font-size: 20px;
}

/* Media Query for 1074px */
@media screen and (max-width: 1074px){
    .meet-aaron p {
        margin-left: 10rem;
    }
    .box-text {
        padding: 10px;
    }
    .contact-aaron h2 {
        margin: 20px 0 20px 0;
    }
    footer nav ul {
        display: inline;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    .work-grid-container {
        width: 75%;
    }
    .recent-projects-grid-container {
        width: 75%;
    }
    footer nav ul {
        display: inline-block;
        margin: 0;
    }
    .box-code3 {
    margin-left: 40%;
    }
}

/* Media Query for 945px */
@media screen and (max-width: 980px){
    .hero {
        display: block;
        
    }
    .hero h2 {
        display: inline-flex;
    }
    .meet-aaron p {
    margin-left: 3rem;
    }
    .primary-border {
        padding: 0px;

    }
}
/* Media Query for 758px */
@media screen and (max-width: 758px){
    .meet-aaron img {
        height: 70%;
        margin: auto;
        display: inline;
        }
    .float-right {
        float: center;
        margin-left: 0px;
        }
    .meet-aaron p {
        color: var(--tertiary-color);
        font-size: 20px;
        font-family: Geneva, Helvetica, Arial, sans-serif;
        text-align: justify;
        }
    .meet-aaron h2 {
        color: var(--secondary-color);
        font-size: 30px;
        font-family: Geneva, Helvetica, Arial, sans-serif;
        text-align: center;
        display: inline;
        text-align: justify;
        padding-left: 15%;
        }
    }

/* Media Query for 610px */
@media screen and (max-width: 610px){
        .meet-aaron img {
            height: 60%;
        }
        .box-text {
            margin-block-start: 3em;
        }
}
/* Media Query for 580px */
@media screen and (max-width: 580px){
        .work-aaron h2 {
            margin: 20px 0 60px 0;
        }
        .about-me {
            width: 100%;
            padding: 20px 40px 20px 0px;
        }
        .box-code3 {
            margin-left: 250px;
        }
}
/* Media Query for 528px */
@media screen and (max-width: 528px){
        .work-aaron {
        padding-top: 140px;
    }
}
/* Media Query for 470px */
@media screen and (max-width: 470px){
    .work-aaron {
        padding-top: 380px;
    }
}
/* Media Query for 420px */
@media screen and (max-width: 420px){
    .meet-aaron img {
        height: 40%;
        }
    .meet-aaron h2 {
        padding-left: 0;
        }
    .meet-aaron p {
        margin-left: 1rem;
        }
    .work-aaron {
        padding-top: 300px;
    }
    .box-text {
        margin-left: -15px;
    }
}