:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styling for body section */

body {
    background-color: var(--primary-color);
}

/* styling for header section */

header {
    background-image: url("../images/ggbridge.jpg");
    padding: 20px 30px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-display: bold;
    font-size: 34px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
    text-shadow: 0 0 13px rgba(255, 255, 0, 0.7);
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
}
header nav ul li a:hover {
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* styling for hero section */
.hero {
    background-image: url("../images/ggbridge.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }
.hero h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 20px 0 60px 0;
    display: flex;
    text-align: center;
}
.primary-border {
    border-color: var(--primary-color);
    border-bottom: 4px solid var(--tertiary-color);
    padding: 0 100px 20px 100px;
    display: inline-block;
}


/* styling for About Me section */

.about-me {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.meet-aaron {
    width: 100%;
    display: inline-block;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.meet-aaron img {
    height: 95%;
    margin: auto;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.meet-aaron h2 {
    color: var(--secondary-color);
    font-size: 30px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
}
.meet-aaron p {
    color: var(--tertiary-color);
    font-size: 20px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-align: justify;
    padding: 30px 30px 30px 30px;
    width: 40%;
    display: left;
    margin-left: 15rem;
}
/* Styling for Work section */
.work {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.work-aaron{
    text-align: center;
    padding-top: 30px;
}
.work-aaron h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 20px 0 60px 0;
}
.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 75%;
}
.work-grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    width: 50%;
}
.work-grid-item {
    box-shadow: 0 0 11px var(--tertiary-color, 0.7);
    padding: 1em;
    color: red;
    height: 100%;
}
.box1 {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    background-image: url("../images/runbuddy.jpg"); 
}
.box2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    background-image: url("../images/arphotoj.jpg");
}
.box3 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    background-image: url("../images/zombies.jpg");
}
.box4 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    background-image: url("../images/sunflowers.jpg");
}
.box5 {
    grid-column: 2 /span 1;
    grid-row: 3/span 1;
    background-image: url("../images/ferriswheel.jpg");
}
.work-img {
    background-size: cover;
}

/* styling for Contact section */

.contact {
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.contact-aaron{
    text-align: center;
    padding-top: 30px;
}
.contact-aaron h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    margin: 20px 0 60px 0;
}

/* styling for Footer section */

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Geneva, Helvetica, Arial, sans-serif;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 28px;
    margin: 0;
    display: inline;
}
footer copywrite {
    color: var(--secondary-color);
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}
/* Media Query for 945px */
@media screen and (max-width: 980px){
    .hero {
        display: block;
    }
    .meet-aaron p {
    margin-left: 3rem;
    }
}
/* Media Query for 758px */
@media screen and (max-width: 758px){
    .meet-aaron img {
        height: 50%;
        margin: auto;
        display: inline;
        }
    .float-right {
        float: center;
        margin-left: 0px;
        }
    .meet-aaron p {
        color: var(--tertiary-color);
        font-size: 20px;
        font-family: Geneva, Helvetica, Arial, sans-serif;
        text-align: justify;
        /* padding: 30px 30px 30px 30px; */
        /* width: 40%; */
        /* display: left; */
        /* margin-left: 10rem; */
        display: inline;
        }
    .meet-aaron h2 {
        color: var(--secondary-color);
        font-size: 30px;
        font-family: Geneva, Helvetica, Arial, sans-serif;
        text-align: center;
        display: inline;
        text-align: justify;
        /* padding-top: 150px; */
        }
    }