:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #ffae42;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styling for body section */

body {
    background-color: var(--primary-color);
}

/* styling for header section */

header {
    padding: 20px 30px;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header h1 {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-display: bold;
    font-size: 34px;
    color: var(--secondary-color);
    margin: 0;
    display: inline;
}
.last-name {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-size: 38px;
    color: #808080;
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}